h2 {
  color: whitesmoke;
  font-family: "Kanit", sans-serif;
  padding-top: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 255);
}

footer {
  display: flex;
  align-items: center;
}

.copyright {
  font-family: "Kanit", sans-serif;
  padding-right: 15px;
}

.gitHubMark:hover {
  size: 2em%;
}

.calculatorContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 460px;
  width: 300px;
  background-color: rgb(241, 235, 223);
  border: 5px;
  border-radius: 10px;
  border-style: ridge;
  border-color: black;
}

.displayContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 75px;
  width: 285px;
  background-color: rgb(192, 192, 192);
}

.numberDisplay {
  font-family: monospace;
  font-size: 5em;
  padding: 5px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 345px;
  width: 300px;
  gap: 5px;
  background-color: rgb(241, 235, 223);
}

button {
  font-family: "Kanit", sans-serif;
  height: 65px;
  width: 65px;
  border: 3px;
  border-style: inset;
  border-color: black;
  border-radius: 5px;
  background-color: rgb(31, 31, 31);
  color: white;
  font-size: 25px;
  font-weight: 500;
}

.number:active {
  background-color: rgba(31, 31, 31, 0.8);
}

.operator {
  background-color: whitesmoke;
  color: black;
  font-size: 30px;
}

.operator:focus {
  background-color: rgba(150, 150, 150, 0.5);
}

.equals {
  background-color: whitesmoke;
  color: black;
}

.equals:active {
  background-color: rgba(150, 150, 150, 0.5);
}

.clear {
  background-color: orange;
  color: whitesmoke;
}

.clear:active {
  background-color: rgba(255, 166, 0, 0.7);
}

.plusMinus {
  background-color: blue;
  color: whitesmoke;
}

.plusMinus:active {
  background-color: rgba(0, 0, 255, 0.5);
}

.percentage {
  background-color: blue;
  color: whitesmoke;
  font-size: 28px;
}

.percentage:active {
  background-color: rgba(0, 0, 255, 0.5);
}

#zero {
  width: 135px;
}

#decimal {
  font-weight: bolder;
}

#decimal:active {
  background-color: rgba(31, 31, 31, 0.5);
}
